.wrap {}

.wrap .side-content-wrap {}

.wrap .side-content-wrap .sidenav-open {}

.wrap .main-content {
  padding-top: 77px;
  padding-left: 56px;
  padding-bottom: 55px;
}


.wrap .main-body {
  /* background-color: #111; */
  padding: 1.25rem;

  width: 100%;
  padding-bottom: 30px;
  height: 100%;
  border: none;
  border-radius: 5px;
}