<div class="wrap">
  <div>
    <app-header-sidebar></app-header-sidebar>
  </div>
  
  <div class="side-content-wrap">
      <app-sidebar></app-sidebar>
  </div>
  
  <!-- breadcrumb -->
  <app-breadcrumb
  [title]="title"
  [items]="crumb"
></app-breadcrumb>

  <div class="container-fluid main-content">

    <div class="row">
      <div class="col-md-12">
        <div class="main-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-footer></app-footer> -->

</div>

<app-loading [loading]="loading" ></app-loading>