<div class="wrap">
  <div>
    <app-header-sidebar></app-header-sidebar>
  </div>
  
  <div class="side-content-wrap">
      <app-sidebar></app-sidebar>
  </div>
  
  <div class="container-fluid main-content">
    <!-- breadcrumb -->
    <div class="row">
        <div class="col-md-12 ">
          <div class="title-breadcrumb"><i class="i-Arrow-Left"></i> Dashboard</div>
        </div>
        <div class="col-md-12">
          
          <div class="crumbs">
            <ul>
              <li><a>Home</a></li>
              <li>Dashboard</li>
            </ul>
          </div>   

        </div>
    </div>

    <div class="row">
      <div class="col-md-12 ">
        <div class="main-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
