<mat-toolbar class="header">

  <nav class="navbar">
    <a class="navbar-brand">
      <img src="./assets/img/logotipo-abcdaconstrucao.png" class="logotipo-topo" alt="LOGOTIPO ABC DA CONSTRUÇÂO">
    </a>
    <span class="navbar-text">
      FINALIZAR PAGAMENTO
<!--     | <a href="#" >VOLTAR  <fa-icon [icon]="['far', 'arrow-alt-circle-left']"></fa-icon> </a>-->
    </span>
  </nav>

  <!-- <span>
    <a>
      logo
    </a>
  </span>
  <span class="title-group">
    <a>
      <i class="material-icons">
        home
      </i>
        teste
    </a>
  </span> -->
</mat-toolbar>