.sidenav {
  background-color: #FFF;
  width: 200px;
}

.sidenav a {
  color: #000;
}

.sidenav i {
  padding-right: 10px;
}

/* .sidenav .navbar-brand {
  width: 100%;
} */

.content {
  padding: 16px;
  background-color: #ffffff;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

