<form [formGroup]="userForm" (ngSubmit)="add()">

  
  <div class="row">
    <div class="col-md-6">

      <!-- <pre>{{ purchase?.produtos | json }} </pre> -->
      
        <mat-form-field class="input-full">
          <mat-label>Nome</mat-label>
          <input matInput 
                placeholder="Ex. joão marciano"
                type="text"
                formControlName="name" >
          <mat-hint align="start"><strong>Obrigatorio</strong> </mat-hint>
        </mat-form-field>
      
        
        <mat-form-field class="input-full">
          <mat-label>Login</mat-label>
          <input matInput 
                placeholder="Ex. joao.marciano"
                type="text"
                formControlName="login" >
          <mat-hint align="start"><strong>Obrigatorio</strong> </mat-hint>
        </mat-form-field>

        <mat-form-field class="input-full">
          <mat-label>Password</mat-label>
          <input matInput 
                placeholder="!fkk933nF!"
                type="password"
                formControlName="password" >
          <mat-hint align="start"><strong>Obrigatorio</strong> </mat-hint>
        </mat-form-field>

    </div>

    <div class="col-md-6"></div>

  </div>


  <div class="footer-btn">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <button 
            [disabled]="userForm.invalid" 
            type="submit" 
            class="btn btn-primary btn-sm">
            Cadastrar
          </button>

        </div>
      </div>
    </div>
    
  </div>

</form>

<!-- <div class="conteiner-success"></div> -->